<p-toast></p-toast>
<div style="margin-top: 30px;">
    <button pButton type="button" label="Agregar nuevo" class="ui-button-success" (click)="nuevo()"></button>
</div>

<div class="p-grid p-align-end">
    <!-- formulario -->
    <div class="p-col-12 p-md-6 p-lg-12">
        <div class="box">
            <h3>Datos del producto</h3>
            <form [formGroup]="formGroup">
                <div class="ui-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label>Nombre</label>
                        <input formControlName="nombre" type="text" pInputText placeholder="Nombre">
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label>Cantidad</label>
                        <input formControlName="cantidad" type="number" pInputText placeholder="Cantidad" required>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label>Costo Unitario</label>
                        <input formControlName="costoUnitario" type="number" placeholder="Costo Unitario" pInputText>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label>Costo total</label>
                        <input disabled=true type="number" formControlName="costoTotal" pInputText
                            placeholder="Costo total">
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label>Precio</label>
                        <input formControlName="precio" placeholder="Precio" type="number" pInputText>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label>Precio venta</label>
                        <input formControlName="precioVenta" placeholder="Precio venta" type="number" pInputText>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label> </label>
                        <button [disabled]="formGroup.invalid" style="margin-top: 27px;" pButton type="button"
                            label="Guardar" class="ui-button-success" (click)="guardar()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 25px;">
    <h3 class="first">Productos</h3>
    <p-table #dd [value]="listaProductos" [globalFilterFields]="['nombre']" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText  placeholder="Buscar usuario..."
                    (input)="dd.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Costo Total</th>
                <th>Precio</th>
                <th>Precio Venta</th>
                <th>Eliminar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.nombre}}</td>
                <td style="text-align: center;" (click)="editar(car)">{{car.cantidad}}</td>
                <td style="text-align: center;" (click)="editar(car)">{{car.costoUnitario}}</td>
                <td style="text-align: center;" (click)="editar(car)">{{car.costoTotal}}</td>
                <td style="text-align: center;" (click)="editar(car)">{{car.precio}}</td>
                <td style="text-align: center;" (click)="editar(car)">{{car.precioVenta}}</td>
                <td style="text-align: center;"><button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                    (click)="eliminar(car)"></button></td>

            </tr>
        </ng-template>
    </p-table>
</div>